# LLM Configuration
OPENAI_API_KEY=<key>
OPENAI_API_BASE=<base_url> # Optional, for compatible endpoints, e.g. https://api.deepseek.com/v1
MODEL_NAME=gpt-4o-mini

# Browser Use Service Configuration
BROWSER_USE_HOST=0.0.0.0
BROWSER_USE_PORT=4999
BROWSER_USE_MAX_WORKERS=1
BROWSER_WINDOW_WIDTH=540
BROWSER_WINDOW_HEIGHT=768

# Browser Use Agent Sensitive Data (Login info for the browser to use)
BROWSER_USE_USERNAME=<username>
BROWSER_USE_PASSWORD=<password>

# Browser Use Tool Configuration (Client side)
BROWSER_USE_API_URL=http://localhost:4999
BROWSER_USE_TOOL_TIMEOUT=300
BROWSER_USE_TOOL_CHECK_INTERVAL=2
